@charset "UTF-8";

.quadros{
    display: inline-block;
    border: 1px dashed black;
    width: 300px;
    height: 300px;
}

#q1{
    background-image: url(image/predios-positions.jpg);
    background-position: left top;
}

#q2{
    background-image: url(image/predios-positions.jpg);
    background-position: center top;
}

#q3{
    background-image: url(image/predios-positions.jpg);
    background-position: right top;
}

#q4{
    background-image: url(image/predios-positions.jpg);
    background-position: left center;
}

#q5{
    background-image: url(image/predios-positions.jpg);
    background-position: center center;
}

#q6{
    background-image: url(image/predios-positions.jpg);
    background-position: right center;
}

#q7{
    background-image: url(image/predios-positions.jpg);
    background-position: left bottom;
}

#q8{
    background-image: url(image/predios-positions.jpg);
    background-position: center bottom;
}

#q9{
    background-image: url(image/predios-positions.jpg);
    background-position: right bottom;
}